@import url('https://fonts.googleapis.com/css2?family=Nata+Sans:wght@100..900&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Nata Sans", sans-serif;
}


/* navbar */
nav {
    background-color: #113F67;

    color: #fff;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav>.wrapper {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    align-items: center;
}

.wrapper {
    width: 1024px;
    margin: auto;
    padding: 20px 0px 20px 0px;
}

.wrapper>div>img {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    border: 1px;
    width: 50%;
}

.menu>ul {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
    list-style-type: none;

}

.menu>ul>li>a {
    color: #fff;
    text-decoration: none;
}

.menu>ul>li {
    display: flex;
}

/* header */

header {
    background: url(./setup\ 9.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
    letter-spacing: 5px;

}

.header-oppacity {
    background-color: #113F67;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
}

.header-jumbotron {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-family: "Nata Sans", sans-serif;
    color: #fff;
    justify-content: center;
    flex-direction: column;
    font-size: 1.3rem;
    padding: 0px;
    margin-bottom: 0px;
}

.header-jumbotron>a {
    text-decoration: none;
    color: #57564F;
    background-color: #FCF8DD;
    width: 300px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.header-jumbotron>p {
    padding: 0px;
    margin-bottom: 50px;
}

.header-jumbotron>h2 {
    padding: 0px;
    margin: 0px;
}

.header-jumbotron>h1 {
    padding: 0px;
    font-size: 3rem;
}

/* statistic */

#section {
    background-color: #34699A;
    color: #fff;
}

#section>.wrapper {
    padding: 50px;
    width: 80%;
    border: 1px;
    display: flex;
    justify-content: space-evenly;
}

#section>.wrapper>div {
    border: 1px;
    text-align: center;

}

#section>.wrapper>div>p {
    font-size: 3.5rem;
    padding: 0px;
    margin: 0px;
}

#section>.wrapper>div>p>i {
    margin-right: 10px;
}

#section>.wrapper>div>small {
    font-size: 1.5rem;
}

/* class pilihan */

#kelas-pilihan {
    background-color: #113F67;
    color: #fff;

}

#kelas-pilihan>.wrapper {

    padding: 10px;
}

#kelas-pilihan>.wrapper>h4 {
    text-align: center;
    font-size: 2.8rem;
    padding: 0px;
    margin: 0px;
}

#kelas-pilihan>.wrapper>h4>span {
    color: #FCF8DD;
}

#kelas-pilihan>.wrapper>p {
    padding: 0px;
    margin: 0px;
    text-align: center;
    margin-bottom: 50px;
}

.grid {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 15px;
    justify-content: center;

}

.grid>.item {
    border: 1px solid;
    background-color: #34699A;
    border-color: #FCF8DD;
    position: relative;
    padding: 30px;
    width: 70%;
    border-radius: 30px;

}

.grid>.item>img {
    position: absolute;
    top: 10px;
    right: 10px;
}

.grid>.item>.item-detail {
    padding: 30px;
    font-size: 1.3rem;
    width: 70%;

}

.grid>.item>div {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.grid>.item>div>small>i {
    margin-right: 5px;

}

.grid>.item>div>a {
    text-decoration: none;
    color: #57564F;
    background-color: #FCF8DD;
    width: 70px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

.grid2>.item2>img {
    width: 15%;
}

/* tentang saya */

#tentang-saya>.wrapper {

    padding: 10px;
}

#tentang-saya>.wrapper>h4 {
    text-align: center;
    font-size: 2.8rem;
    padding: 0px;
    margin: 0px;
}

#tentang-saya>.wrapper>p {
    padding: 0px;
    margin: 0px;
    text-align: center;
    margin-bottom: 50px;
}

#tentang-saya>.wrapper>div {
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

#tentang-saya>.wrapper>div>.foto {
    width: 30%;

}

#tentang-saya>.wrapper>div>.foto>img {
    max-width: 100%;
    border-radius: 20px;
}

#tentang-saya>.wrapper>div>.desc {
    width: 70%;
    border: 1px solid;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
    background-color: #FCF8DD;
    color: #57564F;
}

#tentang-saya>.wrapper>div>.desc>h5 {
    padding: 0px;
    margin: 0px;
    font-size: 1.2rem;
}



#tentang-saya>.wrapper>div>.desc>div {
    display: flex;
    justify-content: space-between;
    width: 30%;
}

#tentang-saya>.wrapper>div>.desc>div>a {
    color: #57564F;
}

/* kelas khusus */

#kelas-khusus {
    background-color: #113F67;
}

#kelas-khusus>.wrapper>h4 {
    text-align: center;
    font-size: 2.8rem;
    padding: 0px;
    margin: 0px;

}


#kelas-khusus>.wrapper>p {
    padding: 0px;
    margin: 0px;
    text-align: center;
    margin-bottom: 50px;

}

#kelas-khusus>.wrapper>.grid>.item>.item-detail {
    padding: 0px;
    margin: 0px;
    max-resolution: 0px;
    font-size: 1.3rem;
    width: 100%;

}

#kelas-khusus>.wrapper>.grid>.item>.item-detail>img {
    width: 100%;
    border-radius: 10px;

}

#kelas-khusus>.wrapper>.grid>.item>div {
    padding: 10px 5px 10px 5px;
}

/* footer */

#footer {
    background-color: #57564F;
}

#footer>.wrapper {
    text-align: center;
}

/* hamburger menu */

button.hamburger-menu {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
    display: none;
}

button.hamburger-menu>.icon-close {
    display: none;
}


/* adaptive 1024, 900, 768, 600*/

@media only screen and (max-width: 1024px) {
    .wrapper {
        width: 90%;
    }
}

@media only screen and (max-width: 900px) {
    #section>.wrapper>div>p {
        font-size: 2.5rem;
        margin: 0px;
        padding: 0px;
    }

    #section>.wrapper>div>small {
        font-size: 1rem;
    }


    .grid {
        display: grid;
        grid-template-columns: 45% 45%;
        grid-gap: 15px;
        justify-content: center;
    }

    .grid>img {
        width: 8%;
    }
}

@media only screen and (max-width: 768px) {
    .menu {
        width: 70%;
    }

    .header-jumbotron>h1 {
        font-size: 2rem;
        padding: 20px;
    }

    .header-jumbotron>h2 {
        font-size: 1.5rem;
    }

    .header-jumbotron>p {
        font-size: 0.9rem;
    }

    .header-jumbotron>a {
        font-size: 1rem;
        width: 50%;
    }


}

@media only screen and (max-width: 600px) {
    .grid {
        grid-template-columns: 100%;
    }

    #tentang-saya>.wrapper>div {
        display: flex;
        flex-direction: column;
    }

    #tentang-saya>.wrapper>div>.foto {
        width: 50%;
    }

    button.hamburger-menu {
        display: inline;
    }

    .menu {
        display: none;
    }

    .tampil {
        display: inline;
    }

    .tampil>ul {
        flex-direction: column;
        background-color: #57564F;
        position: fixed;
        width: 100%;
        top: 90px;
        left: 0px;
    }

    .tampil>ul>li {
        padding: 10px;
    }


}